<h1>Evaluations#create</h1>
<p>Find me in app/views/evaluations/create.html.erb</p>
<p>講義の評価ページ</p>
<%= link_to "評価の作成", evaluations_new_path %><br />
<%= link_to "評価の編集", evaluations_edit_path %><br />
<%= link_to "講義の詳細に戻る", lectures_show_path %>